# 필요 라이브러리

In [38]:
import warnings
import os
import pandas as pd
import numpy as np

warnings.filterwarnings('ignore')

In [39]:
print(os.getcwd()) # 현재 경로
# print(os.listdir(os.getcwd())) # 현재 경로 파일

os.chdir('/project/kcure-08/src/1. Data/1. Colon') # 현재 경로 변경(데이터 파일)
print(os.getcwd())
# print(os.listdir(os.getcwd()))

/project/kcure-08/src/1. Data/1. Colon
/project/kcure-08/src/1. Data/1. Colon

----

In [40]:
### 데이터 모든 행, 열 확인하기
pd.set_option('display.max_columns', 150)
pd.set_option('display.max_rows', 100)

# 1. 데이터 불러오기

In [41]:
df_cc_rgst = pd.read_csv('./PP_csv/cs_cc_rgst.csv') # 21773 rows × 36 columns
df_cs_cc_rec = pd.read_csv('./PP_csv/cs_cc_rec.csv')
df_cs_cc_nrec = pd.read_csv('./PP_csv/cs_cc_nrec.csv')
df_cc_ckp = pd.read_csv('./PP_csv/cs_cc_g1e_fin.csv')

In [42]:
df_cc_ckp.isnull().sum()

SN_KEY               0
SEX                  0
EXMD_BZ_YYYY         0
HGHT                14
WGHT                12
BMI                 14
WSTC                 9
BP_SYS             109
BP_DIA             109
URN_PROT           564
HGB                119
FBS                117
SGOT               116
SGPT               117
GGT                116
TG                9736
HDL               9736
LDL               9951
TOT_CHOL          9736
CRTN               116
GFR                379
Q_FHX_ETC        14922
Q_PHX_YN             1
Q_PHX_DX_STK     16832
Q_PHX_DX_HTDZ    16402
Q_PHX_DX_HTN      9798
Q_PHX_DX_DM      13972
Q_PHX_DX_PTB     16954
Q_PHX_DX_DLD     15680
Q_PHX_DX_ETC     13689
Q_PHX_TX_STK     51099
Q_PHX_TX_HTDZ    49715
Q_PHX_TX_HTN     32348
Q_PHX_TX_DM      43348
Q_PHX_TX_DLD     47578
Q_PHX_TX_ETC     38302
Q_SMK_YN            21
Q_DAILY_DRK       5604
Q_DRK_RISK          32
Q_PA_WGT_AVG        38
dtype: int64

In [43]:
df_cc_rgst_id = df_cc_rgst[['SN_KEY', 'FDX']] # 초진연월 붙이기
df_cc_ckp = pd.merge(df_cc_rgst_id, df_cc_ckp, how = 'inner', on = ['SN_KEY']) # 초진연월 추가
df_cc_ckp

,SN_KEY,FDX,SEX,EXMD_BZ_YYYY,HGHT,WGHT,BMI,WSTC,BP_SYS,BP_DIA,URN_PROT,HGB,FBS,SGOT,SGPT,GGT,TG,HDL,LDL,TOT_CHOL,CRTN,GFR,Q_FHX_ETC,Q_PHX_YN,Q_PHX_DX_STK,Q_PHX_DX_HTDZ,Q_PHX_DX_HTN,Q_PHX_DX_DM,Q_PHX_DX_PTB,Q_PHX_DX_DLD,Q_PHX_DX_ETC,Q_PHX_TX_STK,Q_PHX_TX_HTDZ,Q_PHX_TX_HTN,Q_PHX_TX_DM,Q_PHX_TX_DLD,Q_PHX_TX_ETC,Q_SMK_YN,Q_DAILY_DRK,Q_DRK_RISK,Q_PA_WGT_AVG
0,SN00000001,201405,1,2013,150.0,60.0,26.0,80.0,135.0,74.0,2.0,15.7,174.0,22.0,32.0,21.0,114.0,56.0,66.0,145.0,1.1,71.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,0.0,0.0,5.0
1,SN00000001,201405,1,2015,150.0,60.0,25.0,80.0,115.0,80.0,3.0,14.0,112.0,47.0,21.0,3.0,84.0,47.0,52.0,116.0,1.0,86.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,1.0,1.0,NaN,NaN,2.0,0.0,0.0,1.2
2,SN00000001,201405,1,2017,150.0,60.0,25.0,80.0,130.0,80.0,1.0,13.1,139.0,25.0,29.0,14.0,96.0,50.0,47.0,117.0,0.9,96.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN,NaN,1.0,1.0,1.0,NaN,2.0,0.0,0.0,1.2
3,SN00000001,201405,1,2019,150.0,60.0,24.0,80.0,138.0,75.0,1.0,13.3,130.0,25.0,23.0,14.0,74.0,54.0,51.0,120.0,0.8,100.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN,NaN,1.0,1.0,0.0,NaN,2.0,0.0,0.0,6.0
4,SN00000011,201509,2,2017,150.0,50.0,23.0,70.0,118.0,67.0,1.0,14.9,87.0,26.0,22.0,18.0,52.0,52.0,97.0,159.0,0.7,102.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,40.0,1.0,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52229,SN00062279,201410,1,2021,160.0,70.0,24.0,80.0,100.0,60.0,1.0,13.9,94.0,30.0,26.0,35.0,NaN,NaN,NaN,NaN,0.8,95.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,NaN,3.0,11.4
52230,SN00062285,201305,1,2013,160.0,40.0,20.0,60.0,100.0,60.0,1.0,4.0,93.0,14.0,10.0,18.0,50.0,51.0,57.0,118.0,1.0,75.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0,8.0,0.0,0.0
52231,SN00062286,201811,2,2014,150.0,70.0,28.0,90.0,115.0,70.0,1.0,12.1,93.0,39.0,47.0,24.0,74.0,36.0,152.0,203.0,0.7,82.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0
52232,SN00062290,201302,1,2012,170.0,80.0,28.0,90.0,120.0,80.0,1.0,11.2,81.0,19.0,20.0,21.0,87.0,61.0,61.0,140.0,1.1,73.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,3.0,28.0,0.0,1.2
52233,SN00062290,201302,1,2020,170.0,80.0,29.0,90.0,139.0,84.0,1.0,15.4,114.0,38.0,37.0,28.0,NaN,NaN,NaN,NaN,1.0,74.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,NaN,3.0,14.0

In [44]:
df_cc_ckp.isnull().sum()

SN_KEY               0
FDX                  0
SEX                  0
EXMD_BZ_YYYY         0
HGHT                14
WGHT                12
BMI                 14
WSTC                 9
BP_SYS             109
BP_DIA             109
URN_PROT           566
HGB                119
FBS                117
SGOT               116
SGPT               117
GGT                116
TG                9764
HDL               9764
LDL               9981
TOT_CHOL          9764
CRTN               116
GFR                381
Q_FHX_ETC        14976
Q_PHX_YN             1
Q_PHX_DX_STK     16894
Q_PHX_DX_HTDZ    16460
Q_PHX_DX_HTN      9834
Q_PHX_DX_DM      14016
Q_PHX_DX_PTB     17014
Q_PHX_DX_DLD     15740
Q_PHX_DX_ETC     13745
Q_PHX_TX_STK     51237
Q_PHX_TX_HTDZ    49851
Q_PHX_TX_HTN     32448
Q_PHX_TX_DM      43470
Q_PHX_TX_DLD     47720
Q_PHX_TX_ETC     38412
Q_SMK_YN            21
Q_DAILY_DRK       5618
Q_DRK_RISK          32
Q_PA_WGT_AVG        38
dtype: int64

---

##### Label 1 - Table

In [ ]:
## 재발피험자 불러오기 ###
cust_id = list(df_cs_cc_rec['SN_KEY'])
df_cc_ckp_rec = df_cc_ckp[df_cc_ckp['SN_KEY'].isin(cust_id)]
df_cc_ckp_rec

In [ ]:
## 재발 테이블 합치기###
tmp = pd.merge(df_cs_cc_rec, df_cc_ckp_rec, how = 'inner', on=['SN_KEY'])
tmp

In [ ]:
tmp['col_1_rec'] = (tmp['TIME_OF_REC_START'].str.slice(0, 4)).astype('int32') # 근접
tmp['col1_result'] = abs(tmp['col_1_rec'] - tmp['EXMD_BZ_YYYY'])
tmp_result = tmp[tmp.groupby('SN_KEY')['col1_result'].transform(min) == tmp['col1_result']]
tmp_result = tmp_result.drop_duplicates(subset='SN_KEY')
tmp_result

In [ ]:
df_cs_cc_rec = pd.merge(df_cs_cc_rec, tmp_result, how = 'outer', on = ['SN_KEY', 'LABEL', 'RES', 'SOPR_Y_CNT', 'TIME_OF_NREC_END', 'TIME_OF_REC_START', 'TIME_OF_REC'])
df_cs_cc_rec = df_cs_cc_rec.drop(['col_1_rec', 'col1_result'], axis = 'columns')
df_cs_cc_rec

In [10]:
df_cs_cc_rec.to_csv('./PP_csv/cs_cc_rec_2.csv')

##### Label 0

In [11]:
## 재발x 피험자 불러오기 ###
cust_id = list(df_cs_cc_nrec['SN_KEY'])
df_cc_ckp_nrec = df_cc_ckp[df_cc_ckp['SN_KEY'].isin(cust_id)]
# df_cc_ckp_nrec.head(40)

In [12]:
df_cc_ckp_nrec['FDX_2'] = df_cc_ckp_nrec['FDX'].astype('str')
df_cc_ckp_nrec['FDX_2'] = df_cc_ckp_nrec['FDX_2'].str.slice(0, 4).astype('int32')

In [13]:
df_cc_ckp_nrec['col_result'] = abs(df_cc_ckp_nrec['FDX_2'] - df_cc_ckp_nrec['EXMD_BZ_YYYY'])

In [14]:
df_cc_ckp_nrec[df_cc_ckp_nrec.groupby('SN_KEY')['col_result'].transform(min) == df_cc_ckp_nrec['col_result']]
df_cc_ckp_nrec = df_cc_ckp_nrec.drop_duplicates(subset='SN_KEY')

In [ ]:
df_cs_cc_nrec = pd.merge(df_cs_cc_nrec, df_cc_ckp_nrec, how = 'outer', on = ['SN_KEY'])
df_cs_cc_nrec

In [ ]:
df_cs_cc_nrec = df_cs_cc_nrec.drop(['FDX_2', 'col_result'],axis= 'columns')
df_cs_cc_nrec

In [19]:
df_cs_cc_nrec.to_csv('./PP_csv/cs_cc_nrec_2.csv')

------